################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Documentation/~$Help.docx
/Documentation/~WRL4008.tmp
